html body {
background: rgb(76,136,74);
background: -moz-radial-gradient(center, ellipse cover,  rgba(76,136,74,1) 0%, rgba(15,15,15,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(76,136,74,1)), color-stop(100%,rgba(15,15,15,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(76,136,74,1) 0%,rgba(15,15,15,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(76,136,74,1) 0%,rgba(15,15,15,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(76,136,74,1) 0%,rgba(15,15,15,1) 100%);
background: radial-gradient(ellipse at center,  rgba(76,136,74,1) 0%,rgba(15,15,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c884a', endColorstr='#0f0f0f',GradientType=1 );
}